
.grid{
    display: flex;
    flex-wrap: wrap; 
    gap: 30px; 
    justify-content: center; 
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
}
.section_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px; 
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
  }
  .text_content h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #000; 
  }
  
  .text_content p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #888; 
  }
  
 
  .btn {
    background-color: #ffa726;
    color: #fff;
    border: none;
    border-radius: 20px; 
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .btn:hover {
    background-color: #fb8c00; 
    transform: translateY(-2px); 
  }
  
  .btn:active {
    transform: translateY(0); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }